/*
 * styles.css for cartrek
 */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  padding-bottom: 10px;
}

/*
@media (max-width 768px) {
  body {
    padding-top: 80px;
  }
}
*/

.btn-primary {
  background-color: #178D5D;
  border: none;
}

.btn-light {
  background-color: #eee;
  border: none;
}


header {
  background-color: #178D5D;
}

#prof {
  background-color: #178D5D;
}

#prof:hover {
  background-color: #178D5D;
}

.prof {
  width: auto;
  height: 50px;
  border-radius: 50%;
}


/*
 * Header Styles
 */

#logo {
  width: 100px;
}

u {
  text-decoration-color: #FFFFFF;
}

.nav-item {
  text-decoration-color: #FFFFFF;
  font-size: 150%;
}

a.nav-link {
  text-decoration: none;
  color: #FFFFFF;
}

a.nav-link:hover {
  text-decoration: none;
  text-decoration: underline;
}

a.disabled {
  text-decoration: none;
  text-decoration: underline;
}


/*
 * homepage-styles.css for landing page
 */

#car-graphic {
  width: 30%;
}

.homepage {
  clear: both;
}

.find-trek {
  padding-bottom: 300px;
}

.find-trek-container {
  position: relative;
  top: 100px;
}

.process {
  background-color: #178D5D;
}

#process-graphic {
	width: 100%;
}

.search-input {
	text-decoration-color: #178D5D
}

#get-trekking-btn {
	border-radius: 20px;
}





.dropdown-menu {
  left: unset;
  right: -3px;
}

.btn-info {
  background-color: #eee;
  border-color: #eee;
}

@media (max-width: 600px) {
  #tofrom {
    text-align: center;
  }
}
