{% extends "basic.html" %}

{% block navbar %}
  <li class="nav-item"><a class="nav-link text-dark" href="{% url "browse" %}"><h5>Browse</h5></a></li>
  <li class="nav-item"><a class="nav-link text-dark"><h5>Post a Trek</h5></a></li>
  <li class="nav-item"><a class="nav-link text-dark" href="{% url "request" %}"><h5>Request a Trek</h5></a></li>
  <li class="nav-item"><a class="nav-link text-dark" href="{% url "about" %}"><h5>About us</h5></a></li>
  {% if user.is_authenticated %}
  <li class="nav-item"><a class="nav-link text-dark" href="{% url "inbox" %}"><h5 id="inbox">Inbox</h5></a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class= "row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Send a Message to {{ recpt.first_name }}!</h4>
          </div>
          <div class="card-body">
            <form class="text-center" action="/profiles/sendmsg/" method="post">
              {% csrf_token %}
              {{ form.sender }}
              {{ form.receiver }}
              {{ form.content }}
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
